.best
{
  background: url('../img/bg/best.png') center center no-repeat;
  background-size: cover;
  position: relative;
}

.best__title
{
  color: $black;
  -webkit-margin-before: 0;
  -webkit-margin-after: 1.5em;
  text-align: center;
}

.best__list
{
  @extend %clearfix;
}

.best__item
{
  float: left;
  width: 33%;
  text-align: center;
}

.best__icon-pic
{
  height: 92px;
}

.best__item-title
{
  font-size: 24px;
  -webkit-margin-before: 30px;
  -webkit-margin-after: 12px;
  font-family: 'lifehackmedium', Helvetica, sans-serif;
}

.best__item-text
{
  font-size: 14px;
  color: $gray;
}
