.map
{
  position: relative;
}

#map
{

  height: calc(100% - 58px);
}

.footer
{
  height: 58px;
  width: 100%;
  background-image: url('../img/bg/footer.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
}

.footer__container
{
  top: 7px;
}

.footer__left
{
  float: left;
  width: 50%;
}

.footer__right
{
  float: right;
}

.footer__address
{
  font-family: 'ubuntu', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}

.footer__telephone
{
  font-family: 'ubuntu', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: $red;
}

.socials
{
  margin-top: 12px;
}

.socials__list
{
  text-align: right;
  @extend %clearfix;
}

.socials__item
{
  margin-left: 18px;
  display: inline-block;
  float: left;
  opacity: .3;
  transition: .3s;

  &:hover
  {
    opacity: 1;
  }

}
