.order
{
  background: url('../img/bg/order.png') center center no-repeat;
  background-size: cover;
  position: relative;
}

.order__title
{
  text-align: center;
  font-size: 72px;
  color: $yellow;
}

.order__form
{
  font-family: 'ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 14px;
}

#form-order
{
  @extend %clearfix;
}

.form__left
{
  float: left;
  width: 50%;
}

.form__right
{
  float: right;
  width: 50%;
}

#name, #tel, #street, #house, #building, #flat, #floor, #comment
{
  border-radius: 5px;
  @extend %ubuntu-l;
  font-size: 14px;
  color: #000;
  padding: 5px 10px;
}

#name, #tel, #street, #house, #building, #flat, #floor
{
  height: 35px;
}

#name, #tel
{
  width: 220px;
}

#street, #house, #building, #flat, #floor
{
  width: 100px;
}

#comment
{
  resize: none;
}

.order__row
{
  @extend %clearfix;
  margin-bottom: 20px;
}

.order__block
{
  float: left;
  margin-right: 15px;
}


.order__another__row
{
  margin-top: 18px;
  @extend %clearfix;
  margin-bottom: 18px;
}

.order__radio
{
  float: left;
  @extend %clearfix;
}

#radio-1, #radio-2, #radio-3, .radio__fake, .radio__label
{
  float: left;
}

.order__radio
{
  margin-right: 25px;
}

.radio__label
{
  margin-left: 7px;
}

.order__radio__elem {
  position: absolute;
  top: 0;
  left: -9999px;
}

.radio__fake {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: $red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
  }
}

.order__radio__elem:checked {
  & + .radio__fake {

    &:after {
      width: 8px;
      height: 8px;
    }
  }
}


.checkbox {
  .radio__fake {
    border-radius: 0px;
  }

  .order__radio__elem {
    & + .radio__fake {
      &:after {
        background: transparent;
      }
    }
  }

  .order__radio__elem:checked {
    & + .radio__fake {

      &:after {
        background: url("../img/icons/check.svg") 50% no-repeat transparent;
        background-size: contain;
        width: 11px;
        height: 9px;

      }
    }
  }
}

.order__button__submit
{
  margin-right: 20px;
  padding: 10px 15px 11px 15px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.reset-button
{
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

.popup__sent, .popup__error
{
  display: none;
  height: 145px;
  width: 320px;
  background-color: #F9F9F9;
  border-radius: 5px;
  padding: 32px 21px 32px 21px;
  position: relative;
  text-align: center;
  @extend %ubuntu-l;
}

.popup__error
{
  color: $red;
}

.close__button
{
  @extend %ubuntu-b;
  color: #fff;
  font-size: 12px;
  margin-top: 25px;
}
